.div {
  width: 727px;
  height: 70px;
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  font-family: sans-serif;
}

#Add {
  height: 40px;
  width: 60px;
  background: rgb(41, 133, 113);
  position: absolute;
  margin: 7px;
  border-radius: 3px;
  border-color: rgb(41, 133, 113);
  border-style: solid;
  color: white;
}

span {
  padding: 22px;
  border-left: 2px solid white;
  margin: -8px;
}

.checkbox {
  margin: 30px;
}

form {
  border-style: solid;
  border-color: white;
  width: 722px;
  border-radius: 5px;
  background-color: white;
}

#myInput {
  height: 50px;
  width: 500px;
  background-color: white;
  border-style: hidden;
  font-size: 25px;
  margin-left: 20px;
}

ul {
  padding: 0;
}

#li1 {
  background-color: rgb(238, 64, 64);
}
#li2 {
  background-color: rgb(233, 108, 145);
}
#li3 {
  background-color: rgb(113, 48, 187);
}

body {
  background-color: rgb(235, 231, 231);
}

#red {
  background-color: rgb(238, 64, 64);
  padding: 7px;
  border-color: rgb(233, 108, 145);
  border-style: solid;
}

#pink {
  background-color: rgb(233, 108, 145);
  padding: 7px;
  border-color: rgb(233, 108, 145);
  border-style: solid;
}

#purple {
  background-color: rgb(113, 48, 187);
  padding: 7px;
  border-color: rgb(113, 48, 187);
  border-style: solid;
}

#blue {
  background-color: blue;
  padding: 7px;
  border-color: blue;
  border-style: solid;
}

#aqua {
  background-color: aqua;
  padding: 7px;
  border-color: aqua;
  border-style: solid;
}

#yellow {
  background-color: yellow;
  padding: 7px;
  border-color: yellow;
  border-style: solid;
}

.red {
  background-color: rgb(238, 64, 64);
}
.pink {
  background-color: rgb(233, 108, 145);
}

.purple {
  background-color: rgb(113, 48, 187);
}
.yellow {
  background-color: yellow;
}
.aqua {
  background-color: aqua;
}
.blue {
  background-color: blue;
}

